h1 {color: #369; font-family: Arial, Helvetica, sans-serif; font-size: 250%;}

h2 { color: #369; font-family: Arial, Helvetica, sans-serif;  }

h3 { color: #444; font-weight: lighter; }

body { margin: 2em; }

body, input[text], button { color: #888; font-family: Cambria, Georgia; }

button {padding: 0.2em; font-size: 14px}

ul {list-style-type: none; margin-left: 1em; padding: 0; width: 20em;}

li { cursor: pointer; position: relative; left: 0; transition: all 0.2s ease; }

li:hover {color: #369; background-color: #EEE; left: .2em;}

a {padding: 5px; text-decoration: none; font-family: Arial, Helvetica, sans-serif; }

a:visited, a:link {color: #444;}

a:hover {color: white; background-color: #1171a3; }

a.router-link-active {color: white; background-color: #52b9e9; }

crisis-detail input {
  width: 20em;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
