<div class="container">
    <form>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" ng-model="$ctrl.comment.name">
        </div>
        <div class="form-group">
            <label for="name">Email address:</label>
            <input type="email" class="form-control" id="email" ng-model="$ctrl.comment.email">
        </div>
        <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea ng-model="$ctrl.comment.comment" class="form-control" maxlength="{{$ctrl.maxCommentLength}}" placeholder="Max {{$ctrl.maxCommentLength}} Characters"></textarea>
        </div>
        <button class="btn btn-default" ng-click="$ctrl.checkValue($ctrl.comment)">Save</button>
    </form>
    <br><br>
    <button class="primary btn btn-default" ng-click="$ctrl.goTo('view')" type="button">View Comments</button>
</div>